<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../dist/css/estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <section class="banner">
            <ul>
                <li><a href="home"><i class="fa fa-home" aria-hidden="true"></i><span class="textos">Home</span></a></li>
                <li><a href="hobbies"><i class="fa fa-adn" aria-hidden="true"></i><span class="textos">Hobbies</span></a></li>
                <li><a href="quiensoy"><i class="fa fa-user" aria-hidden="true"></i><span class="textos">Quien soy</span></a></li>
                <li id="contacto"><i class="fa fa-whatsapp" aria-hidden="true"></i><span class="textos">   33-34-97-51-16</span></li>
            </ul>

            <hr>
        </section>
    </header>

    <main>
        <section>
            <div>
                <div>
                    <img src="../src/IMG/IMG_9153.JPG" alt="" class="mainHobbies">
                </div>
                <button class="Hobbies" id="Hobbies">Hobbies</button>

                <section class="information" id="hobbiesDesc">
                    <ul>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Me gusta jugar futbol</span></li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Jugar videojuegos</span></li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Salir a correr</span></li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Jugar pádel y ping pong</span></li>
                        <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Salir con amigos</span></li>
                    </ul>
                </section>
            </div>
        </section>
    </main>
</body>
</html>