<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quien soy</title>
    <link rel="stylesheet" href="../dist/css/estilos.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <section class="banner">
            <ul>
                <li><a href="home"><i class="fa fa-home" aria-hidden="true"></i><span class="textos">Home</span></a></li>
                <li><a href="Hobbies"><i class="fa fa-adn" aria-hidden="true"></i><span class="textos">Hobbies</span></a></li>
                <li><a href="quiensoy"><i class="fa fa-user" aria-hidden="true"></i><span class="textos">Quien soy</span></a></li>
                <li id="contacto"><i class="fa fa-whatsapp" aria-hidden="true"></i><span class="textos">   33-34-97-51-16</span></li>
            </ul>

            <hr>
        </section>
    </header>

    <main>
        <div>
            <div>
                <img src="../src/IMG/20190418_122500.jpg" alt="" class="mainHobbies" id="vertical">
            </div>
            <button class="Hobbies" id="Quien">Quien soy</button>

            <section class="information" id="quienDesc">
                <ul>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Me llamo Diego Solorzano</span></li>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Tengo 20 años</span></li>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Estuve 2 años en el equipo representativo</span></li>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Vivo con mis papás y mi hermano</span></li>
                    <li><i class="fa fa-check-circle" aria-hidden="true"></i><span>Tengo una perrita que quiero mucho</span></li>
                </ul>
            </section>


        </div>
    </main>
</body>
</html>