
<main>
    <p>
        Me llamo Diego Solórzano Castañeda, tengo 20 años y me encanta programar,
        Jugar futbol, y jugar videojuegos. <br>

        Aunque mencioné que me gusta el futbol, actualmente estoy en el equipo de atletismo y mantengo una vida de futbolista retirado yendo a jugar
        al futbol llanero aunque planeo regresar al equipo de futbol del Iteso.<br>

        Y como ya mencioné me gusta jugar videojuegos y tengo mi canal de twitch, youtube y una cuenta de tik tok, en todos lados estoy como Diegordo17
    </p>
</main>
